.satu{
    background-color: red;
    height: 100px;
    width: 100px;
}

.dua{
    background-color: black;
    height: 100px;
    width: 100px;
    position: relative;
    margin-top: 2%;

}

.tiga{
    background-color: blue;
    height: 100px;
    width: 100px;
}

.empat{
    color: green;
    display: inline;
}

.kotak{
    background-color: blue;
    color: white;
    width: 500px
    text-align: center;
    padding: 15px;
    border: 5px solid red;
    box-sizing: border-box;
}